{% extends "back-end/base.html" %}
{% load static %}
{% block title %}
Add Property
{% endblock %}
{% block page_style %}

{% endblock %}
{% block content %}

<body>
    <div class="container-xxl bg-white p-0">
        <!-- Add Property Form Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <h2 class="text-center mb-4">Add Property</h2>
                        <form action="{% url 'add_property' %}" method="post">
                            {% csrf_token %}

                            <div class="mb-3">
                                <label for="property_type" class="form-label">Property Type</label>
                                <select class="form-select" id="property_type" name="property_type" required>
                                    <option selected disabled>Select Property Type</option>
                                    {% for property_type in property_types %}
                                    <option value="{{ property_type.id }}">{{ property_type.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="name" class="form-label">Property Name</label>
                                <input type="text" class="form-control" id="name" name="name" required>
                            </div>
                            <div class="mb-3">
                                <label for="description" class="form-label">Description</label>
                                <textarea class="form-control" name="description" id="description" rows="10"
                                    required></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="location" class="form-label">Location</label>
                                <input type="text" class="form-control" id="location" name="location" required>
                            </div>
                            <div class="mb-3">
                                <label for="price" class="form-label">Price </label>
                                <input type="number" class="form-control" id="price" name="price" required>
                            </div>
                            <div class="mb-3">
                                <label for="bedrooms" class="form-label">Bedrooms </label>
                                <input type="number" class="form-control" id="bedrooms" name="bedrooms" required>
                            </div>

                            <div class="mb-3">
                                <label for="bathrooms" class="form-label">Bathrooms </label>
                                <input type="number" class="form-control" id="bathrooms" name="bathrooms" required>
                            </div>
                            <div class="mb-3">
                                <label for="number_available" class="form-label">Property Available </label>
                                <input type="number" class="form-control" id="number_available" name="number_available"
                                    required>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary w-100">Add Property</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Property Form End -->
    </div>

</body>
{% endblock %}
{% block page_scripts %}
<script>
    // Get the bedrooms and bathrooms input elements
    const bedroomsInput = document.getElementById('bedrooms');
    const bathroomsInput = document.getElementById('bathrooms');

    // Add an event listener to the bedrooms input element
    bedroomsInput.addEventListener('input', function () {
        // Get the selected value
        const selectedValue = parseInt(bedroomsInput.value);

        // Set the maximum value of bathrooms to be the same as the number of bedrooms
        bathroomsInput.max = selectedValue;
    });

    // Add an event listener to the form submission
    const form = document.querySelector('form');
    form.addEventListener('submit', function (event) {
        // Get the values of bedrooms and bathrooms
        const bedroomValue = parseInt(bedroomsInput.value);
        const bathroomValue = parseInt(bathroomsInput.value);

        // Check if the number of bathrooms exceeds the number of bedrooms
        if (bathroomValue > bedroomValue) {
            event.preventDefault();
            alert('The number of bathrooms cannot exceed the number of bedrooms.');
        }

        // Check if the value entered for Property Available is negative
        const numberAvailableInput = document.getElementById('number_available');
        const numberAvailableValue = parseInt(numberAvailableInput.value);
        if (numberAvailableValue < 0) {
            event.preventDefault();
            alert('The value entered for Property Available should be a positive number.');
        }

        // Check if the values for bedroom, price, or bathroom are negative
        const priceInput = document.getElementById('price');
        const priceValue = parseInt(priceInput.value);

        if (bedroomValue < 0) {
            event.preventDefault();
            alert('The value entered for Bedroom should be a positive number.');
        }

        if (priceValue < 0) {
            event.preventDefault();
            alert('The value entered for Price should be a positive number.');
        }

        if (bathroomValue < 0) {
            event.preventDefault();
            alert('The value entered for Bathroom should be a positive number.');
        }
    });
</script>
{% endblock %}
