{% extends "back-end/base.html" %}
{% load static %}
{% block title %}
   Edit Property
{% endblock %}
{% block page_style %}

{% endblock %}
{% block content %}
<body>
    <div class="container-xxl bg-white p-0">
        <!-- Edit Property Form Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <h2 class="text-center mb-4">Edit Property</h2>
                        <form action="{% url 'edit_property' property_id=property.id %}" method="post">
                            {% csrf_token %}

                            <div class="mb-3">
                                <label for="property_type" class="form-label">Property Type</label>
                                <select class="form-select" id="property_type" name="property_type" required>
                                    <option selected disabled>Select Property Type</option>
                                    {% for property_type in property_types %}
                                        <option value="{{ property_type.id }}">{{ property_type.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="name" class="form-label">Property Name</label>
                                <input type="text" value="{{ property.name }}" class="form-control" id="name" name="name" required>
                            </div>
                            <div class="mb-3">
                                <label for="description" class="form-label">Description</label>
                                <textarea class="form-control" name="description" id="description" rows="10" required>{{ property.description }}</textarea>
                            </div>
                            <div class="mb-3">
                                <label for="location" class="form-label">Location</label>
                                <input type="text" class="form-control" id="location" name="location" value="{{ property.location }}" required>
                            </div>
                            <div class="mb-3">
                                <label for="price" class="form-label">Price</label>
                                <select class="form-select" id="price" name="price" required>
                                    <option selected disabled>Select Price</option>
                                    {% for property in properties %}
                                        <option value="{{ property.price }}" {% if property.price == property.price %}selected{% endif %}>{{ property.price }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="bedrooms" class="form-label">Bedrooms</label>
                                <select class="form-select" id="bedrooms" name="bedrooms" required>
                                    <option selected disabled>Select Bedrooms</option>
                                    {% for choice in BEDROOM_CHOICES %}
                                        <option value="{{ choice.0 }}" {% if property.bedrooms == choice.0 %}selected{% endif %}>{{ choice.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="mb-3">
                                <label for="bathrooms" class="form-label">Bathrooms</label>
                                <select class="form-select" id="bathrooms" name="bathrooms" required>
                                    <option selected disabled>Select Bathrooms</option>
                                    {% for choice in BATHROOM_CHOICES %}
                                        <option value="{{ choice.0 }}" {% if property.bathrooms == choice.0 %}selected{% endif %}> {{ choice.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="number_available" class="form-label">Property Available</label>
                                <input type="number" class="form-control" id="number_available" value="{{ property.number_available }}" name="number_available" required>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary w-100">Edit Property</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Edit Property Form End -->
    </div>
</body>
{% endblock %}
{% block page_scripts %}
<script>
    // Get the bedrooms and bathrooms select elements
    const bedroomsSelect = document.getElementById('bedrooms');
    const bathroomsSelect = document.getElementById('bathrooms');

    // Add an event listener to the bedrooms select element
    bedroomsSelect.addEventListener('change', function () {
        // Get the selected value
        const selectedValue = parseInt(bedroomsSelect.value);

        // Clear the bathrooms select element
        bathroomsSelect.innerHTML = '';

        // Create and append the options to the bathrooms select element
        if (selectedValue === 0) {
            const option = document.createElement('option');
            option.value = 0;
            option.text = '0 Bathrooms';
            bathroomsSelect.appendChild(option);
            bathroomsSelect.value = 0;
        } else {
            for (let i = 0; i <= 3; i++) {
                const option = document.createElement('option');
                option.value = i;
                option.text = i + ' Bathroom(s)';
                bathroomsSelect.appendChild(option);
            }
            bathroomsSelect.selectedIndex = 0;
        }
    });
</script>
<script>
    // Add an event listener to the form submission
    const form = document.querySelector('form');
    form.addEventListener('submit', function (event) {
        // Get the value entered for Property Available
        const numberAvailableInput = document.getElementById('number_available');
        const numberAvailableValue = parseInt(numberAvailableInput.value);

        // Check if the value is negative
        if (numberAvailableValue < 0) {
            // Prevent the form submission
            event.preventDefault();

            // Display a popup notification
            alert('The value entered for Property Available should be a positive number.');
        }
    });
</script>
{% endblock %}